langchain==0.2.11
langchain-core==0.2.43
langchain-community==0.2.10
langchain-text-splitters==0.2.2
langchain-chroma
langchain-openai
langchain-huggingface
langchain-groq
python-dotenv
pypdf
streamlit
chromadb
pymupdf
sentence-transformers==2.6.1
transformers==4.38.2
protobuf==3.20.2
paddleocr==2.8.1
paddlepaddle==2.6.2
openai