langchain==0.2.11
langchain-core==0.2.43
langchain-community==0.2.10
langchain-text-splitters==0.2.2
langchain-chroma
langchain-huggingface==0.0.3
langchain-groq
python-dotenv
pypdf
streamlit
chromadb
sentence-transformers==2.6.1
transformers
protobuf==3.20.2
paddleocr==2.8.1
paddlepaddle==2.6.2
opencv-python-headless
pdf2image
pymupdf
