langchain==0.2.16
langchain-core==0.2.43
langchain-community==0.2.16
langchain-text-splitters==0.2.4
langchain-chroma
langchain-huggingface
langchain-groq
python-dotenv
pypdf
streamlit
chromadb
sentence-transformers==2.6.1
transformers
protobuf==3.20.2
paddleocr==2.8.1
paddlepaddle==2.6.2
opencv-python-headless
pdf2image
pymupdf
